*{
  font-family: "Open Sans", sans-serif;
  /* background-color: #F8FAFC; */
}

.dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.green{
    background-color: #00A96E;
}

.purple{
    background-color: #A855F7;
}


.border-purple{
    border-top: 3px solid #A855F7;
}

.border-green{
    border-top: 3px solid #00A96E;
}
